/*GENERAL HTML*/
.pageable-1 {
    background-color: #262626;
}

.pageable-2, .pageable-4 {
    background-color: #F2F2F2;
}

.pageable-3 {
    background-color: #A6A6A6;
}

#container {
    display: table;
}

.pg-container {
    display: grid !important;
}

#h1-linegraph {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: lighter;
    padding-top: 5%;
    padding-bottom: 0%;
    color: #D9D9D9;
    font-size: 240%;
}

#h1-streamgraph, #h1-about {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: lighter;
    padding-top: 25px;
    padding-bottom: 0%;
    color: #262626;
    font-size: 240%;
    margin-bottom: 30px;
}

#h1-word-cloud {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: normal;
    padding-top: 5%;
    padding-bottom: 0%;
    color: #595959;
    font-size: 250%;
}

.title-container {
    margin-right: auto;
    margin-left: auto;
    width: 580px;
    text-align: center;
}

.about-container {
    width: 70%;
    margin: 5% auto;
    height: 55%;
}

.cat-container {
    width: 130px;
    margin-left: auto;
    margin-right: auto;
}

.cat-wrapper {
    width: 90px;
    margin: auto;
}

.icon-source {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: lighter;
    font-size: 8px;
    color: #595959;
}


/* Linegraph*/
#linegraph {
    margin-bottom: 7%;
    width: 100%;
    text-align: center;
}

.linegraph-container {
    display: inline-block;
    margin-top: -20px;
}

.line {
    fill: none;
    stroke: #D9D9D9;
    stroke-width: 2;
}

.overlay {
    fill: none;
    pointer-events: all;
}

.linegraph-line {
    stroke: #A6A6A6;
    stroke-width: 1;
    stroke-dasharray: 4, 2;
}

.linegraph-txt {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 100%;
    fill: #A6A6A6;
}

.txt-total {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 140%;
    fill: #A6A6A6;
}


/* Streamgraph*/
#streamgraph {
    width: 100%;
    text-align: center;
}

.streamgraph-container {
    display: inline-block;
}

.streamgraph-tooltip {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: lighter;
    font-size: 14pt;
    width: auto;
    height: 110px;
    margin-left: 10px;
    overflow: visible;
    opacity: 0;
    position: absolute;
    z-index: 19;
    top: 200px;
}

.txt-percentage {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 10pt;
}

.streamgraph-line-info-timeline {
    stroke: #262626;
    stroke-width: 1;
    stroke-dasharray: 4, 2;
}

.streamgraph-txt-info-timeline {
    text-anchor: middle;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 15px;
}

.tick {
    z-index: 1000;
}

.tooltip-line {
    position: absolute;
    display: none;
    z-index: 19;
    width: 1px;
    height: 421px;
    top: 205px;
    background: #262626;
}

.tooltip-paragraph {
    font-size: 11pt;
    margin-top: 5px;
}

.axis-streamgraph {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 13px;
    color: #262626;
}

.axis-text-streamgraph {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 18px;
}


/* Wordcloud*/

#wordcloud {
    width: 100%;
    text-align: center;
}

.cloud-words-container {
    display: inline-block;
}

.tooltip-short {
    position: absolute;
    text-align: left;
    width: 200px;
    height: 45px;
    font: 12px sans-serif;
    border: 0px;
    visibility: hidden;
}

.tooltip-long {
    position: absolute;
    text-align: left;
    width: 250px;
    height: 60px;
    font: 12px sans-serif;
    border: 0px;
    visibility: hidden;
}

.tooltip-extra-long {
    position: absolute;
    text-align: left;
    width: 300px;
    height: 80px;
    font: 12px sans-serif;
    border: 0px;
    visibility: hidden;
}

.tip {
    line-height: 1;
    font-weight: bold;
    padding: 8px;
    background: #595959;
    color: #fff;
    border-radius: 2px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 11pt;
    visibility: hidden;
}

.svg-cloud-text {
    fill: #595959;
    font-family: 'Open Sans Condensed', sans-serif;
}

#legend {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 10pt;
}

.axis-cloud {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 13px;
    color: #595959;
}

.legend-txt {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 14px;
    fill: #595959;
}