.streamgraph-tooltip {
    font-family: Arial;
    font-weight: lighter;
    font-size: 14pt;
    width: auto;
    height: 110px;
    margin-left: 5px;
    overflow: visible;
    opacity: 0;
    position: absolute;
    z-index: 19;
    top: 28px;
}

.txt-percentage {
    font-family: Arial;
    font-weight: lighter;
    font-size: 9pt;
}

.streamgraph-line-info-timeline {
    stroke: black;
    stroke-width: 1;
    stroke-dasharray: 4, 2;
}

.streamgraph-txt-info-timeline {
    text-anchor: middle;
    font-family: Arial;
    font-weight: lighter;
    font-size: 13px;
}
.tick {
    z-index: 1000;
}

.remove {
position: absolute;
display: none;
z-index: 19;
width: 1px;
height: 421px;
top: 28px;
background: #000000;
}

.tooltip-paragraph {
    font-size: 10pt;
    margin-top: 5px;
}